<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>newDishes</title>
</head>

<div id="container" style="width:1800px">

  <div th:insert="commons::name"></div>

  <div id="content" style="background-color:#E0FFFF;height:1000px;width:1600px;float:left;">
    <h2>上架菜品</h2>
    <p th:text="${tip}"></p>
    <form action="/newDishes" method="post">
    <div>
      <label>
        请输入菜名
        <input type="text" name="name">
      </label>
    </div>
    <div>
      <label>
        请输入价格
        <input type="number" name="price">
      </label>
    </div>
    <div>
      <label>
        请输入分类
        <input type="number" name="category">
      </label>
    </div>
    <div>
      <label>
        <input type="submit" value="确定">
      </label>
    </div>
    </form>

  </div>

  <div id="footer" style="background-color:#CCFFCC;clear:both;text-align:center;">
    版权 你不可以动哦</div>
</div>
</html>
