<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>startCooking</title>
</head>

<div id="container" style="width:1800px">

  <div th:insert="commons::name1"></div>

  <div id="content" style="background-color:#E0FFFF;height:1000px;width:1600px;float:left;">
    <p>开始做菜</p>

    <form action="/startCooking" method="post">
      <label>
        请输入菜品类型<input type="text" name="category">
        <label>
          请选择页数<select name="number">
          <option value="0">1</option>
          <option value="1">2</option>
        </select>
        </label>
        <input type="submit" value="确定">
      </label>
    </form>

      <tr>
        <th>id</th>
        <th>菜品编号</th>
        <th>菜品名称</th>
        <th>菜品类别</th>
        <th>数量</th>
        <th>状态(0待做 1完成)</th>
      </tr>

      <tr th:each="m:${orderListForCook}">
        <td th:text="${m.id}"></td>
        <td th:text="${m.dishesId}"></td>
        <td th:text="${m.dishesName}"></td>
        <td th:text="${m.categoryName}"></td>
        <td th:text="${m.count}"></td>
        <td th:text="${m.status}"></td>
      </tr>

    </table>

    <form action="/finishCooking" method="post">
      <label>
        请输入你完成的菜品id
        <input type="number" name="id">
      </label>
      <input type="submit" value="确定">
    </form>

  </div>

  <div id="footer" style="background-color:#CCFFCC;clear:both;text-align:center;">
    版权 你不可以动哦</div>
</div>
</html>
